body {
    background: linear-gradient(to right, #a64bf4, #00bcd4);
    height: 100%;
    text-align: center;
  }
.container{
    text-align: center;
    padding: 10%;
}
.left, .right {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    padding: 10%;
    box-sizing: border-box;
     text-align: left; 
    height: 90%;
} 
.left{
    background-color: rgb(46, 128, 222);
    color: white;
    text-align: center;
    height: 700px;

}
.right{
    background-color: white;
    text-align: center;
    height: 700px;

}
.right h1{ text-align: center;
margin-top:-15% ;
}
form input,textarea{
    background-color: rgb(205, 203, 203);
    padding: 10px;
    border: 0;
    width: 100%;
    box-sizing: border-box;
    border-radius:5%;
    margin-bottom: 8%;
}
form button{
    background-color: rgb(66, 139, 216);
    color: white;
    padding: 10px 25px;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border-radius:80%;
}
